.container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 350px 100px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        ". . . . . m m c . . . ."
        "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}
@media only screen and (max-width: 600px) {
    .container {
        grid-template-areas:
            "h h h h h h h h h h h h"
            ". m . . . . . c . . . ."
            "f f f f f f f f f f f f";
    }
}

    body {
        background-color: black;
        font-family: 'Noto Serif TC', serif;
        color: white;
    }

    * {
        box-sizing: border-box;
    }

    .navigationbar {
        background-color: black;
        height: 100px;
    }

    .content {
        width: 100%;
        display: inline-block;
        float: left;
    }

    #logo {
        background-image: url("交傲頭貼黑.png");
        background-size:cover;
        position:relative;
        left:50%;
        height: 100px;
        width:100px;
    }

    input {
        height: 40px;
        font-size: 20px;
        color: black;
        font-family: fantasy;
    }

    #btn {
        padding-top:9px;
        height: 40px;
        background-color: #cfc8ad;
        text-align: center;
    }

    .mouse {
        cursor: pointer;
    }

    .footer {
        background-color: black;
        width: 100%;
        height: 4.5rem;
        left: 0px;
        display: inline-block;
        float: left;
        position: absolute;
        bottom: 30px;
    }
    /*text-decoration:line-through;*/